<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <link rel="stylesheet" href="./css/style.css">
    <title>TodoThis</title>
</head>
<body>
    <div class="wrapper">
        <div class="login_box">
            <div class="login-header">
                <span>登錄</span>
            </div>
            <div class="input_box">
                <input type="text" id="user" class="input-field" required>
                <label for="user" class="label">使用者名稱</label>
                <i class="bx bx-user icon"></i>
            </div>
            <div class="input_box">
                <input type="password" id="pass" class="input-field" required>
                <label for="pass" class="label">密碼</label>
                <i class="bx bx-lock-alt icon"></i>
            </div>
            <div class="remeber-forgot">
                <div class="remeber-me">
                    <input type="checkbox" id="remeber">
                    <label for="remeber">記住我</label>
                </div>
                <div class="forgot">
                    <a href="#">忘記密碼?</a>
                </div>
            </div>
            <div class="input_box">
                <input type="submit" class="input-submit" value="登錄">
            </div>
            <div class="register">
                <span>還沒註冊嗎?<a href="#">註冊</a></span>
            </div>
        </div>
    </div>
</body>
</html>